<!DOCTYPE html>
html(lang='zh-Hant-TW')
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title about pug
    meta(name="og:site_name" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:url" content="")
    meta(property="og:image" content="")
    meta(property="og:image:url" content="")
  body
      div(id="app") webpack 前端自動化開發


